<div class="ml-5 mr-5 mb-2" *ngIf="data">
  <div class="w-100">
    <input class="form-control w-40" type="text" placeholder="Enter  Url" [formControl]="url">
    <button type="button" class="btn btn-primary w-100 mt-2" (click)="doTests()">Test</button>
  </div>
  <table class="table table-striped" *ngIf="data.length>0">
    <thead>
      <tr>
        <th>IP</th>
        <th>Url</th>
        <th>Pass</th>
        <th>testDate</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let proxy of data" (click)="openModalWithComponent()">
        <td>{{proxy.ip}}</td>
        <td>{{proxy.url}}</td>
        <td>
          <span *ngIf="proxy.pass" class="badge badge-success">{{proxy.pass}} </span>
          <span *ngIf="!proxy.pass" class="badge badge-danger ">{{proxy.pass}}</span>
        </td>
        <td>{{proxy.testDate | date: 'medium'}}</td>
      </tr>

      <ng-template>
        <p>Nothing to display</p>

      </ng-template>
    </tbody>
  </table>

  <p *ngIf="data.length==0" class="w-100 mt-4 text-center" style="font-size: 20px"> No data available </p>

</div>