<div class="ml-5 mr-5 mb-2">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>IP</th>
        <th>Url</th>
        <th>Pass</th>
        <th>testDate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proxy of data" (click)="openModalWithComponent()">
        <td>{{proxy.ip}}</td>
        <td>{{proxy.url}}</td>
        <td>
          <span *ngIf="proxy.pass" class="badge badge-success">{{proxy.pass}} </span>
          <span *ngIf="!proxy.pass" class="badge badge-danger ">{{proxy.pass}}</span>
        </td>
        <td>{{proxy.testDate | date: 'medium'}}</td>
      </tr>
    </tbody>
  </table>
  <div class="w-100">
    <input class="form-control w-40" type="text" placeholder="Enter  Url">
    <button type="button" class="btn btn-primary w-100 mt-2">Test</button>
  </div>

</div>
