<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header d-flex">
          <i class="fa fa-align-justify p-2"></i> <span class="p-2">
            Proxy Lists
          </span>
          <span class="p-2">Total Elements: {{totalElements}}</span>
          <button type="button " *ngIf="error" class="btn btn-danger  p-2">Refreshed less than 10 mins ago</button>
          <button type="button " *ngIf="success" class="btn btn-success  p-2" (click)="refresh()">Successfully updated</button>
          <button type="button " class="btn btn-primary ml-auto p-2" (click)="refresh()">Refresh</button>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>IP</th>
                <th>Port</th>
                <th>Provider</th>
                <th>Basic Test</th>
                <th>testDate</th>
                <th>createdAt</th>
                <th>updatedAt</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let proxy of data" >
                <td>{{proxy.ip}}</td>
                <td>{{proxy.port}}</td>
                <td>{{proxy.provider}}</td>
                <!-- <td>{{proxy.basicFunctionality}}</td> -->
                <td>
                  <span *ngIf="proxy.basicFunctionality" class="badge badge-success">{{proxy.basicFunctionality}}
                  </span>
                  <span *ngIf="!proxy.basicFunctionality"
                    class="badge badge-danger ">{{proxy.basicFunctionality}}</span>
                </td>

                <td (click)="showTests(proxy.ip)">{{proxy.testDate | date: 'medium'}}</td>
                <td>{{proxy.createdAt | date: 'medium'}}</td>
                <td>{{proxy.updatedAt | date: 'medium'}}</td>
                <td (click)="delete(proxy.ip)">

                  <i class="fa fa-trash-o fa-lg mt-4"></i>
                </td>
              </tr>
              <!-- <tr>
                <td>Avram Tarasios</td>
                <td>2012/02/01</td>
                <td>Staff</td>
                <td>
                  <span class="badge badge-danger">Banned</span>
                </td>
              </tr>
              <tr>
                <td>Quintin Ed</td>
                <td>2012/02/01</td>
                <td>Admin</td>
                <td>
                  <span class="badge badge-secondary">Inactive</span>
                </td>
              </tr>
              <tr>
                <td>Enéas Kwadwo</td>
                <td>2012/03/01</td>
                <td>Member</td>
                <td>
                  <span class="badge badge-warning">Pending</span>
                </td>
              </tr>
              <tr>
                <td>Agapetus Tadeáš</td>
                <td>2012/01/21</td>
                <td>Staff</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr> -->
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

</div>
